page-login {
    .header {
        display: flex;
        justify-content: center;
    }
    #star {
        margin-top: 5%;
        width: 85px;
        height: 85px;
        background-color: #f8ee5a;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
    .content {
        background-color: lightgray;
        background: linear-gradient(to bottom, rgb(177, 177, 177), rgb(34, 34, 34));
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .item-input {
        font-size: 18px;
        background: #e6e6e6;
        border-radius: 3px;
        border: 1px solid rgb(105, 105, 105);
    }

    ion-input {
        font-weight: 400;
        color: rgb(49, 49, 49);
    }
    .button-login {
        font-size: 17px;
        color: #ffffff;
    }
    .option-signup {
        text-decoration: underline;
        color:white;
        font-size: 16px;
    }
    .item-md.item-block .item-inner,
    .item-md.item-input.input-has-focus .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
    .list-md .item-input.input-has-focus:last-child,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
      border-bottom: none;
      box-shadow: none;
    }

    .list-md .item-input.input-has-focus:last-child .item-inner,
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
      box-shadow: none;
    }
    .item-input::after {
        border-bottom-color: transparent !important;
        }
}
