<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Menu
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="option">
        <ion-segment-button value="saved">
          Saved
        </ion-segment-button>
        <ion-segment-button value="starred">
          Starred
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="option">

        <ion-list *ngSwitchCase="'saved'">
          <ion-item *ngFor="let s of saved">
            <div text-wrap>{{s.title}}</div>
            <div ion-row justify-content-end>
                <button ion-button clear icon-start small (click)="deleteFrom('saved', s.id)">
                    <ion-icon name='trash' color="danger"></ion-icon>
                    Delete
                  </button>
                  <button ion-button clear icon-start small (click)="toDetails(s.id);">
                    <ion-icon name='information-circle'></ion-icon>
                    Details
                  </button>
            </div>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'starred'">
          <ion-item *ngFor="let f of favorites">
            <div text-wrap>{{f.title}}</div>
            <div ion-row justify-content-end>            
                <button ion-button clear icon-start small (click)="deleteFrom('favorites', f.id)">
                <ion-icon name='trash' color="danger"></ion-icon>
                Delete
              </button>
              <button ion-button clear icon-start small (click)="toDetails(f.id);">
                <ion-icon name='information-circle'></ion-icon>
                Details
              </button>
          </div>
          </ion-item>
        </ion-list>

    </div>
</ion-content>